* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  align-items: center;
  /* background: #8dd5f7; */
  background: url(/img/europa_background.png) no-repeat center;
}

video {
  border-radius: 10px;
  box-shadow: 15px 0px 50px rgba(255, 255, 255, 0.06);
  animation: videoswoosh 1.6s ease forwards;
  animation-delay: 0.6s;
  position: absolute;
}

@keyframes videoswoosh {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.5;
  }
}
