* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  align-items: center;
  /* background: #8dd5f7; */
  background: url(/img/europa_background.png) no-repeat center;
}

video {
  background: url(/img/europa_background.png) no-repeat center;
}

@keyframes videoswoosh {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.5;
  }
}
